*{
  font-family: Poppins;
  
}

.contents{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  gap: 50px;
}


.container{
  width: 400px;
  height: 220px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display:grid;
  margin-top: 15px;
  padding: 10px;
  
}

.top{
  display: flex;
  height: 70%;
}

.top img{
  height: 110px;
  width: 120px;
  padding: 12px;

}




.right{
  padding: 15px 0px 0px 20px;
  display: grid;
  padding-bottom: 0px;
  font-size: 1.2em;
}

.city{
  font-size: 1em;
  margin-top: 5px;


}

.status{
  font-size: 0.7em;
  margin-top: -20px;
  
}

.temp{
  font-size: 2.5em;
  margin-top: -15px;
  margin-left: 12px;
}

.bottom{
  margin-top: -50px;
  display: flex;
  padding: 0 5px;
}

.bottom p{
  padding-left: 30px;
  font-weight:500;
  
}

.details{
  font-size: 0.9em;
  font-weight: 400;
}

.search-root{
  display: grid;
  margin-top: -30px;
}

.search{
  padding: 5px;
  margin-right: 70px;
}

.search-root input{
  border-radius: 15px;
  padding-left: 10px;
  width: 220px;
  margin-left: 10px;
}

.search-root button{
  background: #000;
  color: #fff;
  padding: 7px 12px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}